### Task solution

In [12]:
import scala.io.Source;

case class Employee(sno: Int, name: String, city: String, salary: Int, department: String) {
  override def toString: String = {
    s"Employee(SNo: $sno, Name: $name, City: $city, Salary: $$salary, Department: $department)"
  }
}

val file = "employee.csv";

val employees: List[Employee] = Source.fromFile(file)
  .getLines()
  .drop(1)
  .map { line =>
    val Array(sno, name, city, salary, department) = line.split(",")
    Employee(sno.toInt, name, city, salary.toInt, department)
  }.toList


// for(x<-employees){
//     println(x);
// }

val filtBySalary = employees.filter(_.salary > 60000)
// for(x<-filtBySalary){
//     println(x);
// }

val filtByDpt = employees.filter(_.department == "Engineering")
// for(x<-filtByDpt){
//     println(x);
// }

val res = employees.map(emp => s"${emp.name} from ${emp.city} earns ${emp.salary} in ${emp.department}")
var i = 0;
// res.foreach { 
//     case (key) => 
//     i+=1;
//     println(s" ${i}: $key")
//     };





// val res = employees.map(emp => emp.name -> s"from ${emp.city} earns ${emp.salary} in ${emp.department}").toMap;
// res.foreach { case (key, value) => println(s"Key: $key, Value: $value")};




val total = employees.map(_.salary).sum
// println(s"total: ${total}");
val avg = total.toDouble / employees.size
// println(s"avg : ${avg}");

val dptWise = employees.groupBy(_.department).map {
  case (department, empList) => (department, empList.size)
}
var j = 0;
for(x<-dptWise){
    j+=1;
    println(s"${i}. ${x}");
}

0. (Engineering,8)
0. (Operations,8)
0. (Sales,8)
0. (Marketing,9)
0. (HR,8)
0. (Finance,9)

import scala.io.Source;


defined class Employee
file: String = "employee.csv"
employees: List[Employee] = List(
  Employee(
    sno = 1,
    name = "John Doe",
    city = "New York",
    salary = 60000,
    department = "Marketing"
  ),
  Employee(
    sno = 2,
    name = "Jane Smith",
    city = "Los Angeles",
    salary = 55000,
    department = "Finance"
  ),
  Employee(
    sno = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    sno = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    sno = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    sno = 6,
    name = "Emily Taylor",
...
filtBySalary: List[Employee] = List(
  Employee(
    sno = 3,
    name = "Michael Johnson",
    city = "Chicago",
    salary = 62000,
    department = "HR"
  ),
  Employee(
    sno = 5,
    name = "David Brown",
    city = "Houston",
    salary = 63000,
    department = "Operations"
  ),
  Employee(
    sno = 8,
    name = "Emma Anderson",
    city = "Seattle",
    salary = 61000,
    department = "Finance"
  ),
  Employee(
    sno = 10,
    name = "Olivia Thomas",
    city = "Atlanta",
    salary = 64000,
    department = "Engineering"
  ),
  Employee(
    sno = 14,
    name = "Mia Gonzalez",
    city = "Detroit",
    salary = 62000,
    department = "Finance"
  ),
  Employee(
    sno = 16,
    name = "Isabella Carter",
...
filtByDpt: List[Employee] = List(
  Employee(
    sno = 4,
    name = "Sarah Lee",
    city = "San Francisco",
    salary = 58000,
    department = "Engineering"
  ),
  Employee(
    sno = 10,
    name = "Olivia Thomas",
    city = "Atlanta",
    salary = 64000,
    department = "Engineering"
  ),
  Employee(
    sno = 16,
    name = "Isabella Carter",
    city = "Portland",
    salary = 63000,
    department = "Engineering"
  ),
  Employee(
    sno = 22,
    name = "Evelyn Scott",
    city = "Nashville",
    salary = 60000,
    department = "Engineering"
  ),
  Employee(
    sno = 28,
    name = "Ella Collins",
    city = "San Jose",
    salary = 65000,
    department = "Engineering"
  ),
  Employee(
    sno = 34,
    name = "Nova Ward",
...
res: List[String] = List(
  "John Doe from New York earns 60000 in Marketing",
  "Jane Smith from Los Angeles earns 55000 in Finance",
  "Michael Johnson from Chicago earns 62000 in HR",
  "Sarah Lee from San Francisco earns 58000 in Engineering",
  "David Brown from Houston earns 63000 in Operations",
  "Emily Taylor from Miami earns 54000 in Sales",
  "James Wilson from Dallas earns 59000 in Marketing",
  "Emma Anderson from Seattle earns 61000 in Finance",
  "Matthew Martinez from Boston earns 57000 in HR",
  "Olivia Thomas from Atlanta earns 64000 in Engineering",
  "Liam Garcia from Denver earns 53000 in Operations",
  "Sophia Hernandez from Phoenix earns 60000 in Sales",
  "Alexander Lopez from Philadelphia earns 56000 in Marketing",
  "Mia Gonzalez from Detroit earns 62000 in Finance",
  "Ethan Perez from Minneapolis earns 55000 in HR",
  "Isabella Carter from Portland earns 63000 in Engineering",
  "Mason Torres from Baltimore earns 52000 in Operations",
  "Ava Ramirez from San Diego earns 64000 in Sales",
  "Logan Sanders from Washington earns 57000 in Marketing",
  "Harper King from Birmingham earns 61000 in Finance",
  "Lucas Rivera from Memphis earns 59000 in HR",
  "Evelyn Scott from Nashville earns 60000 in Engineering",
  "Avery Green from Milwaukee earns 56000 in Operations",
  "Lincoln Taylor from Indianapolis earns 62000 in Sales",
  "Sofia Cooper from Louisville earns 54000 in Marketing",
  "Aiden Bennett from Jacksonville earns 63000 in Finance",
  "Madison Flores from Charlotte earns 58000 in HR",
  "Ella Collins from San Jose earns 65000 in Engineering",
  "Chloe Howard from San Antonio earns 53000 in Operations",
  "Carter Hughes from Oklahoma City earns 61000 in Sales",
  "Aria Nelson from Tucson earns 57000 in Marketing",
  "Grayson Baker from Cleveland earns 60000 in Finance",
  "Zoey Morris from Mesa earns 55000 in HR",
  "Nova Ward from Kansas City earns 64000 in Engineering",
  "Hudson James from Virginia Beach earns 52000 in Operations",
  "Leah Watson from Atlanta earns 62000 in Sales",
  "Riley Brooks from Colorado Springs earns 54000 in Marketing",
  "Emery Kelly from Raleigh earns 59000 in Finance",
...
i: Int = 0
total: Int = 2943000
avg: Double = 58860.0
dptWise: Map[String, Int] = HashMap(
  "Engineering" -> 8,
  "Operations" -> 8,
  "Sales" -> 8,
  "Marketing" -> 9,
  "HR" -> 8,
  "Finance" -> 9
)
j: Int = 6